body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.alert-container{}

.callout-container{
    height: 100vh;
    html { 
        background: url(images/whiskey.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
}

.quotes-container{}

.features-container{}